<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, world? Welcome to <%= title %> by ejs!</p>
    <div>ejs는 html 마크업을 그대로 사용, React와 호환 가능.</div>
    <div>이유는 잘 모르겠는데 호환이 아예 안되는 pug보단 나을 것이다.</div>
    <div>초기 의존성 모듈 현황:</div>
    <div>"cookie-parser": "~1.4.4",</div>
    <div>"debug": "~2.6.9",</div>
    <div>"ejs": "~2.6.1",</div>
    <div>"express": "~4.16.1",</div>
    <div>"http-errors": "~1.6.3",</div>
    <div>"morgan": "~1.9.1"</div>
  </body>
</html>
